.box {
  border: 3px solid #56d8bc;
  border-radius: 20px;
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin: 0 30px;
}

.ranking {
  display: flex;
  flex-direction: column;
}

.ranking img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.rank {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 20px;
}
