.box {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  background-color: rgba(86, 216, 188, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.goldmedal {
  width: 45px;
  height: 45px;
}

.likes {
  background-color: #ffffff;
  display: flex;
  border-radius: 20px;
  padding: 4px 12px;
}

.likebutton {
  width: 35px;
  height: 35px;
  margin-left: -2px;
}
